@font-face {
    font-family: 'Karate';
    src: url('Karate.woff2') format('woff2'),
        url('Karate.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

